:root {
  --orange: #f06111;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  max-width: 1920px;
  margin: auto;
}

nav {
  padding: 20px 40px;
}

.hero,
.our-prod,
.pros,
footer,
.contact {
  padding: 40px;
}

.whitebg {
  border-top: 3px solid var(--orange);
  border-right: 3px solid var(--orange);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.orange {
  color: var(--orange);
}

.hero-header {
  font-size: 2.5vw;
  font-weight: 700;
}

.header {
  font-size: 1.7em;
  font-weight: 700;
  text-align: center;
}

.sub-header {
  padding: 10px;
  margin-bottom: 30px;

  text-align: center;
}

.sub {
  color: black;
  margin: 5px 0;
  text-align: center;
}

.cards {
  display: flex;
  gap: 20px;
}

.flex2 {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

footer {
  border-top: 1px solid var(--orange);
}

.flex1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 40px;
}

.hero {
  gap: 0;
  display: grid;
  box-sizing: border-box;
  font-size: 0;
}

.grid1 {
  display: grid;
  justify-items: center;
}
.grid2 {
  display: flex;
  flex-direction: column;
  gap: 10;
  padding: 20px 0;
}
.bgorange {
  background-color: var(--orange);
}

.contact-info {
  margin: 0;
  padding: 40px 0px;
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.guzik {
  width: 100%;
  margin-top: 10px;
}

.contact-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.contact-title {
  font-weight: 700;
  font-size: 1.2em;
  padding: 10px 0;
}
.contact-text {
  font-weight: 300;
  font-size: 0.9em;
  text-align: center;
}

.header2 {
  font-size: 1.7em;
  font-weight: 700;
  text-align: center;
  padding: 40px 0;
}

.top {
  position: absolute;
}

.contact {
  position: relative;
}
a:hover p {
  color: #f06111;
  transition: 0.2s;
}
a:hover {
  color: #f06111;
  transition: 0.2s;
}
@media only screen and (min-width: 768px) {
  .flex1 {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
  }

  .grid2 {
    display: grid;
    justify-items: center;
    padding: 0;
  }

  .width1 {
    margin: 0;
    width: 100%;
    gap: 0;
  }

  .width1 img {
    width: 100%;
  }

  .contact-sec {
    align-items: flex-start;
    margin-bottom: 20px;
    text-align: left;
  }

  .contact-text {
    text-align: left;
    font-size: 1.1em;
  }
  .contact-title {
    font-size: 1.5em;
    text-align: left;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: left;
  }

  form {
    width: 60%;
  }

  .flex60 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
  }

  .contact {
    padding: 100px 40px 0 40px;
  }
}
